---
import '../styles/global.css';

// Valores de ejemplo para la primera tarjeta, que podrían venir de una API en el futuro.
const firstCardInfo = {
  title: 'Paliachi',
  image: '/Paliachi.webp',  // URL de la imagen de la web externa
  link: 'https://paliachi.com/',                     // URL de redirección al sitio externo
  buttonText: 'Ver más'
};

const secondCardInfo = {
  title: 'Giorno Pizzas',
  image: '/giorno.webp',  // URL de la imagen de la web externa
  link: 'https://giornopizzas.free.nf/',                     // URL de redirección al sitio externo
  buttonText: 'Ver más'
};

const thirdCardInfo = {
  title: 'Betelgeuse',
  image: '/betell.png',  // URL de la imagen de la web externa
  link: 'https://betelgeusee.netlify.app/',                     // URL de redirección al sitio externo
  buttonText: 'Ver más'
};



// Datos por defecto para las demás tarjetas.
// const { title = 'Tekoha', image = '/LogoTekoha.png', buttonText = 'Ver más' } = Astro.props;
---

<section class="portfolio-section">
  <h2 class="gradient-text text-center section-title mb-4">Trabajos Realizados</h2>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <!-- Primera tarjeta con datos externos -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
              <div class="card">
                <img src={firstCardInfo.image} alt={firstCardInfo.title} />
                <h3 class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">{firstCardInfo.title}</h3>
                <!-- Botón con enlace al sitio externo -->
                <a href={firstCardInfo.link} target="_blank" class="card-button-link text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">
                  <button class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">{firstCardInfo.buttonText}</button>
                </a>
              </div>
            <!-- </div> -->
            <!-- Segunda tarjeta con datos externos -->
            <!-- <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img src={secondCardInfo.image} alt={secondCardInfo.title} />
                <h3>{secondCardInfo.title}</h3> -->
                <!-- Botón con enlace al sitio externo -->
                <!-- <a href={secondCardInfo.link} target="_blank" class="card-button-link">
                  <button>{secondCardInfo.buttonText}</button>
                </a>
              </div> -->
            </div>
             <!-- Segunda tarjeta con datos externos -->
             <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
              <div class="card">
                <img src={thirdCardInfo.image} alt={thirdCardInfo.title} />
                <h3 class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">{thirdCardInfo.title}</h3>
                <!-- Botón con enlace al sitio externo -->
                <a href={thirdCardInfo.link} target="_blank" class="card-button-link text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">
                  <button class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">{thirdCardInfo.buttonText}</button>
                </a>
              </div>
            </div>   
    </div>
  </div>
</section>

<style>
.gradient-text {
    background: linear-gradient(45deg, #EE82EE, #6495ED, #00FA9A); /* New color palette */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.portfolio-section {
    padding: 32px 16px;
    background: linear-gradient(135deg, #2a1dde, #0a0908); /* Usando colores de la paleta */
    position: relative;
}

/* Efecto de transición suave entre secciones */
.portfolio-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent, #6495ED, transparent);
    filter: blur(1px);
}

.card {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
    background-color: #1063bb;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card h3 {
    margin-bottom: 8px;
    text-align: center;
}

.card-button-link {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card button {
    margin-top: 8px;
    background-color: #6495ED; /* Usando color de la paleta */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.card button:hover {
    background-color: #4a7bb8;
}
</style>